<h1 mat-dialog-title>Add a new step</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" cdkFocusInitial>
      <mat-error *ngIf="title.invalid && this.submitted">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image/Video link</mat-label>
      <input matInput formControlName="media">
      <mat-error *ngIf="media.invalid && this.submitted">Please enter a valid url</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Add</button>
</div>