.recipe-form {
  margin: 0 auto;
}

.container {
  display: flex;
  margin: 2em auto;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .tools {
    position: static !important;
  }
}

.form-container {
  width: 708px;
}

.tools-container {
  min-width: 200px;
}
.tools {
  position: fixed;
  margin-left: 1em;
}

.form-field_title {
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 1em;
}

.mat-icon {
  vertical-align: middle;
}

.center {
  display: flex !important;
  justify-content: center;
}


