<div class="container">
  <div class="form-container">
    <form [formGroup]="form" class="recipe-form">
      <mat-form-field class="form-field_title">
        <mat-label>Recipe Name</mat-label>
        <input matInput formControlName="title" placeholder="Enter a name">
        <mat-error *ngIf="title.invalid">Please enter a name for your recipe</mat-error>
      </mat-form-field>
    </form>
    <app-step *ngFor="let s of this.steps" [step]="s"></app-step>
    <mat-error *ngIf="this.steps.length === 0 && this.submitted">Recipes need at least one step</mat-error>
  </div>
  <div class="tools-container">
    <div class="tools">
      <mat-list>
        <mat-list-item class="list-item_add-button">
          <button (click)="openDialog()" mat-button>
            <mat-icon inline="true">add_circle</mat-icon>
            Add more steps
          </button>
        </mat-list-item>
        <mat-list-item class="center">
          <span><button (click)="submitRecipe()" mat-flat-button color="primary">Submit</button> </span>
        </mat-list-item>
        <mat-list-item class="center">
          <span><button (click)="goBack()" mat-flat-button color="warn">Cancel</button> </span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
