<div class="container">
  <h1>All Recipes</h1>
  <mat-grid-list [cols]="numGridCols" rowHeight="1:1" gutterSize="2em">
    <mat-grid-tile *ngFor="let r of Recipes">
      <mat-card class="recipe-card" routerLink="/recipe/{{r.id}}">
        <mat-card-header>
          <mat-card-title>{{r.title}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="add-button">
    <a mat-fab color="accent" routerLink="/recipe/add" class="">
      <mat-icon>add</mat-icon>
    </a>
  </div>

</div>